<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count">N Pendientes:<strong>{{pendingTask}}</strong></span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters" >
      <!-- Selected -->
      <li (click)="changeFilter(filter)"  *ngFor="let filter of validFilters">
        <a [ngClass]="{'selected': filter === currentFilter }">{{ filter }}</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Limpiar</button>
  </footer>
